.signup-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #f9f9f9;
}

.signup-container {
    min-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.signup-container h2 {
    margin-bottom: 30px;
    color: #ff4e00;
  }

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-container button {
    padding: 10px 20px;
    border: none;
    background-color: #ff4e00;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    text-decoration: none;
}

button:hover {
    background-color: #e03c00;
}

.text-link {
    color: white;
    text-decoration: none;
}

.text-link:hover {
    /* text-decoration: underline; */
    color: white ;
}